<div ng-controller="MainCtrl" class="todo-theme container" role="main">
    <div class="page-header">
        <h1>Todo Today</h1>
    </div>
    <div class="row">
        <div class ="row" id="add-task">
            <button ng-click="addTodo()" type="button" class="btn btn-xs bt-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add A New Task</button>
        </div>        
        <div ng-repeat="todo in todos" class="col-sm-offset-2 col-sm-8">
            <div class="center-block text-center list-group">
                <a href="" class="list-group-item">
                    <h4  ng-click="edit.header=true; todo.edited=true" ng-hide="edit.header" class="list-group-item-heading">{{todo.header}}</h4>
                    <input ng-blur="edit.header=false" ng-show="edit.header" type="text" ng-model="todo.header">
                    <p  ng-hide="edit.text" ng-click="edit.text=true; todo.edited=true" class="list-group-item-text">{{todo.text}}</p>
                    <textarea class="form-control" ng-blur="edit.text=false" ng-show="edit.text" ng-model="todo.text" rows="5" ></textarea>
                    <button type="button" ng-click="postTodo(); getData()" class="btn btn-xs bt-success">Save</button>
                    <button type="button" ng-click="deleteTodo(todo); getData()" class="btn btn-xs bt-danger">Delete</button>
                </a>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>
</div>